@media screen and (min-width: 1000px)  {

    body{
        background-color: #F8FFE5;
    }

    .home-image img{
        width: 30vw;
        height: 44vh;
        
    }

    .home-description{
        padding: 1%;
    }
    
    .btn-container button{
        width: 30vw;
    }
    .verification-section{
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, rgba(6, 214, 160, 0.14) 50%, #F8FFE5 50%);
        align-items: center;
        width: 100vw;
        max-height: 100vh;
    }
    .pets-images{
        
        justify-items: center;
        max-height: 100vh;
       /*  margin-left: 10rem; */
        gap: 2rem;
    }
    .pets-images img{
        width: 12vw;
        overflow: hidden;
    }
    
   

    .item-e{
        
        margin-top: -25px;
    }
    .item-f{
        margin-top: -20px;
    }
    .item-j{
        margin-top: -10px;
    }
    .item-d{
        margin-top: 40px;
    }
  
    .verification-container{
         
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 50vw;
        width: 50vw;
        /* max-height: 20vh; */

    }

    .verification-desktop{
        display: block;
        width: 30vw;
        margin-top: 20vh;
        

    }
 
    .verification-message{
        width:45vw; 
        font-size: 3rem;
        margin: 5rem 3rem;
       
    }

   
    .verify-message{
        font-size: 2rem;
       
    }
    .signIn-link{
        font-size: 2rem;
    }
    .verification-logo img{
       width: 10vw;
       margin-top: 60vh;
       margin-right: 42vw;
    }
    .deg {
        background: linear-gradient(180deg, rgba(255, 229, 244, 0) 0%, #F8FFE5 26.89%);
        width: 50vw;
        height: 10vw;
        position:absolute;
        margin-top: 80vh;
        overflow: hidden;
        
    }

    header{
        padding-right: 2vw;
        padding-left: 2vw;
    }
    .hamburger {
        display:none;
    }
    .logo-container{
        z-index: 2;
        flex-direction: row;
        margin-top:4rem;
        width: 100%;
        justify-content: center;
    }
    .logo-container span{
        font-size: 4rem;
    }
    .wall-logo img{
        object-fit: cover;
        margin-top: -3vh;
        min-width: 14vw;
        min-height: 23vh;
    }
    .profilePic img{
        object-fit: cover;
        max-width: 5vw;
        height: auto;
    }
    .container-wall{
        display: flex;
        align-items: center;
    }
    .your-post{
        margin-left: 0;
        width: 50vw;
        height: 30vh;
        padding: 1vw;
    }
    .post{
        margin-left: 0;
        width: 50vw;
        height: 35vh;
        padding: 1vw 0 0 0;
    }

    .your-post input, .post-content p{
        width: 44vw;
        height: 10;
        font-size: 1.6rem;
    }

    .post-content{
        border-radius: 10px;
    }
    .your-post label{
        display: flex;
        font-size: 2.2rem;
        margin-top:1vh;
        
    }
    .containerbutton {
        display: flex;
        width: 44vw;
        height: 10vh;
        justify-content: end;
    }
    .form-yourpost{
        width: 44vw;
        margin-bottom: 15vh;
    
    }
    .your-post button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14vw;
        height: 7vh;
        margin-left: 69%;
        font-size: 2rem;
        gap:0.5vw;
    }
    .btnComment {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 14vw;
        height: 7vh;
        margin-left: 69%;
        font-size: 2rem;
        gap:0.5vw;
    }
    .btnyour-post img, .btnComment img{
        object-fit: cover;
        max-width: 2vw;
        height: auto;
    }
    .post-header img{
        object-fit: cover;
        margin-top:-3vh;
        max-width: 5vw;
        height: auto;
    }
    .post-header p{
        font-size: 1.6rem;
     }
    .post-header {
        display: flex;
        margin-left: 0;
        gap:1rem;
        width: 44vw;
    }
    .post-bottom{
        display: flex;
        flex-direction: row;
        width: 44vw;
        justify-content: space-between;
        align-items: center;
        margin-top: 3vh;
    }
    .reactions {
        align-items: center;
        gap:0.3vw;
    }
    .post button {
        margin-top: 0;
        margin-left: 0;
    }
    .reactions img{
        object-fit: cover;
        margin-top:-3vh;
        max-width: 3vw;
        height: auto;
    }
    .cat404{
        margin-right:10vw;
    }
    .dog404 {
        margin-left:10vw;
        margin-top:-25vh;
    }
    .btn-close-menu{
        display: none;
    }
    
    .section-btn-menu{
        margin-top: 10vh;
        gap:4vh;
        width: 18vw;
    }
    .btn-menu{
        gap:1vw;
    }
    .section-logout{
        width: 18vw;
        margin-top: 10vh;
    }
    .dot-container{
        padding-right: 0;
        width: 60%;
      }
    .editInput {
        width: 20vw;
    }
    .btnGoogle{
        margin-left: 3.5rem;
    }

    .btn-logout{
        gap: 1vw;
    }

    .section-menu{
        display: block;
        width: 20vw;
    } 

    .section-menu.active { 
        left: 0; 
        display: block;
    } 

    .logo-span{
        margin-top: 0;
        font-size: 2rem;
    }

    .profilePic img{
        max-width: 7vw;
        height: 10vh;
        margin-top: 2rem;
        margin-right: 1.5rem;
    }

    .logo-container{
        gap: 2rem;
    }

    .your-post button{
        height: 6vh;
    }

    .post button{
        height: 6vh;
    }

    .post{
        width: 52vw;
        min-height: 28vh;
        max-height: auto;
    }

    .editModal{
       max-width: 60vw; 
        height: 20vh;
    }

    .editInput{
        width: 45vw;
    }

    .editModal button{
        margin-left: 7vw;
        height: 4rem;
        width: 14vw;
    }
}
