@media screen and (min-width: 1000px)  {

    body{
        background-color: #F8FFE5;
    }

    .home-image img{
        width: 35vw;
        height: 44vh;
        
    }

    .home-description{
        padding: 1%;
    }

    .signUp-form{
        width: 40vw;
    }



   
}