body{
    position: relative;
    background-color: #F8FFE5;
}

.home-section{
    background-color: #F8FFE5;
    position: relative;
}

.home-description{
position: absolute;
background: rgba(6, 214, 160, 0.14);
border-radius: 50px; 
font-family: 'Jua', sans-serif;
}

.home-image img{
    width: 10rem;
    
}
.peta{
    color: #6A4C93;
}

.gram{
   color: #1B9AAA; 
}


.pets-images{
   background-color: #06D6A0;
}

.verification-section{
    display:flex;
    flex-direction: row;
}