@media screen and (min-width: 700px)  {

    body{
        background-color: #F8FFE5;
    }

    .home-image img{
        width: 55vw;
        height: 45vh;
        
    }

    h2{
        font-size: 2.3rem;
    }

    h1{
        font-size: 4.3rem;
    }

    .btn-container button{
        width: 19rem;
        height: 5rem;
        border-radius: 4rem;
        font-size: 2.3rem;
        font-weight: 700;
    }

    .signUp-form label{
        font-size: 2rem;
    }

    .signUp-form input{
        width: 35rem;
        height: 3rem;
        border-radius: 20px;
    }

    p{
        font-size: 1.8rem;
    }

    a{
        font-size: 1.8rem;
        color: #FFCA3A;
    }

    .signUp-form{
        width: 60vw;
    }

    .description-pageNotFound h1{
        font-size: 6.5rem;
        margin: 4vh 11vw;
        text-align: center;
        
      }
    
      .btn-pageNotfound{
       
        padding: 1rem;
        border-radius: 20px;
        width: 22rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 2.5rem;
      }
    
      .container-btn_pageNotFound{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7%;
      }
    
      .cat404{
        position: relative;
        left: 50vw;
      }
    
      .cat404 img{
        margin-top: 2vh;
        margin-right: 3vw;
        width: 45vw;
        height: 30vh;
      }
    
      .dog404 img{
        width: 38vw;
        height: 27vh;
      }


   
}