@media screen and (min-width: 700px)  {

    body{
        background-color: #F8FFE5;
    }

    .home-image img{
        width: 55vw;
        height: 45vh;
        
    }
    p{
        width: 18vw;
    }
    .btn-container_link{
        justify-content: center;
        gap:0.4vw;
    }
    a{
        width: 15vw;
    }
    h2{
        font-size: 2.3rem;
    }

    h1{
        font-size: 4.3rem;
    }

    .btn-container button{
        font-weight: 700;
    }
    .verification-message {
        font-size: 3rem;
        margin: 22rem 3rem
    }
    .verify-message{
        font-size: 3rem;
}
    .signUp-form {
        width: 30vw;
    }
    .signUp-form input{
        width: 26vw;
        height: 3.5rem;
    }
    .btnRegister{
        width: 26vw;
        height: 3.5rem;
    }

    .signIn-form{
        width: 30vw;
    }
    .signUp-form label{
        font-size: 2rem;
    }


    .signIn-form label{
        font-size: 2rem;
    }

    .signIn-form input{
        width: 26vw;
        height: 3.5rem;
        border-radius: 20px;
    }

    .btn-container_signIn{
        flex-direction: column;
    }

   
    .btnGoogle{
         width: 26vw;
        height: 3.5rem;
    }

    .btnLogin{
        width: 26vw;
        height: 3.5rem;
    }
    .description-pageNotFound h1{
        margin: 4vh 11vw;
        text-align: center;
        
      }
    
      .btn-pageNotfound{
        margin-top:-7vh;
        padding: 1rem;
        border-radius: 20px;
        width: 22rem;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 2.5rem;
      }
      .dog404{
        margin-top:-10vh;
      }
      .container-btn_pageNotFound{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7%;
      }
    
    .verification-container{
        margin-top: -32rem;
        height: 40rem;
    }
    .pets-images img {
        width: 25 vw;
        
    }
    .verification-section{
        background-color: rgba(6, 214, 160, 0.14);
    }
    .pets-images {
        margin-left: 40px;
        margin-right: 40px;
        background-color: transparent;
    }
    .item a{
        margin-left: 2rem;
    }
    .item-d{
        margin-top: 10px;
    }
    .item-e {
        margin-top: -58px;
    }
    .item-f{
        margin-top: -104px;
    }
    .item-j{
        margin-top: -68px;
    }
    .verification-logo img{
        margin-bottom: 50rem;
        width: 20rem;
    }
    .signIn-link{
        font-size: 2.8rem;
    }

    .btn-logout{
        gap: 4vw;
    }

    .section-menu{
        width: 30vw;
    } 

    .btn-close-menu{
        margin-left: 21vw;
    }

    .btnyour-post{
        width: 15rem;
        font-size: 1.6rem;
    }

    .your-post label{
        font-size: 1.8rem;
    }

    .your-postInput {
        font-size: 1.5rem;
        
    }
    .post-header p {
        font-size: 1.8rem;
    }

    .post-content p {
        font-size: 1.6rem;
   
    }
    .btnComment {
        font-size: 1.5rem;
        width: 15rem;
    }
    .reactions img {
        object-fit: cover;
        margin-top: -3vh;
        max-width: 3.5rem;
        height: 3.5rem;
    }

    .post{
        min-height: 37vh;
        max-height: auto;
    }

    .dot-container{
        width: 50%;
    }

    .editModal{
        width: 50vw;
    }

    .editInput{
        width: 43vw;
    }

    .editModal button{
        margin-left: 6rem;
    }








   
}